.header
  height: 4rem
  color: #fff
  background: url('../../assets/images/af_pattern_bg.png') repeat

  h1
    margin: 0
    line-height: 4rem
    text-align: center
    font-size: 1.3rem
    letter-spacing: 0.2rem
