$primary-color: #051039
$warn-color: #d40504

.login
  width: 100%
  margin: 2.5rem auto 0
  padding: 3rem 2rem
  color: $primary-color
  font-size: 1rem
  letter-spacing: 0.05rem
  line-height: 1.5
  box-sizing: border-box
  @media ( min-width: 768px )
    width: 40%
    margin-top: 5rem
    border: 1px solid $primary-color

  &__title
    position: relative
    padding-bottom: 1.5rem
    margin-bottom: 2rem
    font-size: 2.125rem
    line-height: 1.35
    text-align: center
    letter-spacing: 0.1rem
    &:after
      content: ''
      position: absolute
      left: 50%
      bottom: -2px
      margin-left: -1rem
      width: 2rem
      height: 4px
      background-color: $primary-color

  &__detail
    margin-bottom: 2rem

  &__button
    display: block
    width: 100%
    color: #fff
    font-size: 1rem
    font-weight: 400
    line-height: 3
    background-color: $warn-color
    @media ( min-width: 768px )
      width: auto
      margin: 2rem auto 1rem
      padding: 0 2rem

  &__field
    margin-bottom: 1rem
    box-sizing: border-box

    label
      display: block
      margin-bottom: 0.25rem
      font-size: 0.8rem
      color: $primary-color

    input
      width: 100%
      padding: 0.75rem 1rem
      box-sizing: border-box
      font-size: 1rem
      color: $primary-color
      border: 1px solid lightgrey
      &:focus
        border-color: $primary-color
        outline: none
      &.has-error
        border-color: $warn-color


  &__error
    display: block
    font-size: 0.8rem
    color: $warn-color
