<form class="login" (submit)="onSubmitLogin(postForm)" #postForm="ngForm" *ngIf="!isSubmitted">
  <h2 class="login__title">RETRIEVE YOUR BOOKING</h2>

  <p class="login__detail">
    You can find your booking by filling out your family name
    and the booking code in your booking confirmation.
  </p>

  <div class="login__field">
    <label>Booking code</label>
    <input
      type="text"
      required
      minlength="5"
      maxlength="6"
      pattern="[A-Za-z2-9]+"
      name="bookingCode"
      ngModel
      #bookingCode="ngModel" />
    <span class="login__error" *ngIf="(bookingCode.dirty || bookingCode.touched) && bookingCode.invalid">
      Please enter a valid booking code
    </span>
  </div>

  <div class="login__field">
    <label>Family name</label>
    <input
      type="text"
      required
      minlength="2"
      maxlength="30"
      name="familyName"
      ngModel
      #familyName="ngModel" />
    <span class="login__error" *ngIf="(familyName.dirty || familyName.touched) && familyName.invalid">
      Please enter a valid family name
    </span>
  </div>

  <button mat-flat-button type="submit" class="login__button">Retrieve booking</button>
</form>
