<mat-accordion class="flight-list" *ngIf="flights.length > 0">
  <mat-expansion-panel *ngFor="let flight of flights">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ flight.bookingCode }}
      </mat-panel-title>
      <mat-panel-description>
        {{ flight.itinerary.connections[0].origin.IATACode }}
        <mat-icon>trending_flat</mat-icon>
        {{ flight.itinerary.connections[0].destination.IATACode }}
        <mat-icon>flight_takeoff</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ul class="flight-details">
      <li class="flight-details__item">
        <strong>From</strong>
        <span>{{ flight.itinerary.connections[0].origin.name }}</span>
      </li>
      <li class="flight-details__item">
        <strong>To</strong>
        <span>{{ flight.itinerary.connections[0].destination.name }}</span>
      </li>
      <li class="flight-details__item">
        <strong>Passenger</strong>
        <span>
          {{ flight.passengers.title.name }}. {{ flight.passengers.firstName }} {{ flight.passengers.lastName }}
        </span>
      </li>
    </ul>

    <mat-action-row>
      <button mat-button color="primary" (click)="openDialog()">CHECK-IN</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
