.flight-list
  display: block
  margin: 2rem 0.5rem
  @media ( min-width: 768px )
    margin: 2rem auto
    width: 50%

  mat-panel-description
    justify-content: space-between
    align-items: center

.flight-details
  display: block
  list-style: none
  padding: 0

  &__item
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 1rem
